.resultados {
    padding: 5rem;
}

.bienvenida {
    margin-top: 12rem;
    font-size: 4rem;
}

.bienvenidaSecond {
    font-size: 3rem;    
}

.resultTitulo {
    margin-top: 2rem;
    font-size: 3rem;
}

.parrafosResults {
    font-size: 2rem;
}