.resultados {
    padding: 5rem;
}

.bienvenida {
    margin-top: 12rem;
    font-size: 4rem;
}

.bienvenidaSecond {
    font-size: 3rem;    
}

.resultTitulo {
    margin-top: 2rem;
    font-size: 3rem;
}

.parrafosResults {
    font-size: 2rem;
}

.seccionesResults, .agregarTarea {
    margin: 1rem;
    border: black solid 0.1rem;
    padding: 1rem;
}

.tituloAgregar {
    font-size: 3rem;
}