* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.navbar {
  background: #8d406d;
  text-align: center;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.navbar h1 {
  color: white;
  font-weight: 600;
  font-size: 3.5rem;
  padding: 1rem;
  padding-left: 2rem;
}

.navbar a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background: linear-gradient(currentColor 0 0) 0 100%/var(--d, 0) 0.3rem no-repeat;
  transition: 0.5s;
}

.navbar a:hover {
  --d: 100%;
}

.itemsMenu {
  display: flex;
  list-style: none;
  margin-right: 3rem;
}

.itemsMenu li {
  display: block;
  text-transform: uppercase;
}

#menuBTN {
  margin-right: 3rem;
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
  width: 5rem;
  height: 5rem;
}

ul.show {
  top: 6.5rem;
}

@media (max-width: 768px) {
  #menuBTN {
    display: inline-flex;
  }

  .itemsMenu {
    position: fixed;
    width: 100vh;
    height: calc(100% - 6.5rem);
    background: #8d406d;
    top: -100vh;
    text-align: center;
    transition: all -4s;
    flex-direction: column;
    margin-top: 0;
    background: white;
  }

  .itemsMenu a {
    color: black;
    font-weight: bold;
    line-height: 5rem;
    margin-right: 7.5rem;
    margin-top: 2.5rem;
  }
}
.Top {
  background: url(/assets/img/hero.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  color: white;
  margin-top: 6.7rem;
  padding: 20rem;
  font-size: 10rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.info {
  padding: 2rem;
  text-align: center;
}

.info h2 {
  font-size: 5rem;
}

.info p {
  padding-top: 3rem;
  padding-right: 25rem;
  padding-left: 25rem;
  font-size: 2rem;
}

.tipsi {
  padding: 2rem;
  text-align: center;
  margin-bottom: 5rem;
}

.tipsi h2 {
  font-size: 3.5rem;
}

.tipsi p {
  padding-top: 3rem;
  padding-right: 25rem;
  padding-left: 25rem;
}

.tipsi p,
.tipsi a {
  font-size: 2rem;
}

.tipsi a {
  text-decoration: none;
  color: black;
  background: linear-gradient(currentColor 0 0) 0 100%/var(--d, 0) 0.3rem no-repeat;
  transition: 0.5s;
}

.tipsi a:hover {
  --d: 100%;
}

.registerForm, .loginForm {
  text-align: center;
  margin: 0 auto;
  width: 50rem;
}

.loginForm {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.registerForm h2, .loginForm h2 {
  font-size: 4rem;
}

form {
  font-size: 3rem;
}

form input {
  width: 30rem;
  height: 3.5rem;
}

footer {
  width: 100%;
  background: #8d406d;
  font-size: 6rem;
  text-align: center;
  color: white;
  padding: 2rem;
}

.mainTips {
  margin-top: 15rem;
  text-align: center;
}

.mainTips h2 {
  font-size: 3.5rem;
}

.mainTips p {
  padding: 1rem;
  font-size: 2rem;
}

.Tips {
  padding: 2rem;
}

.Tips h2 {
  font-size: 3rem;
}

.Tips p {
  font-size: 1.5rem;
}

iframe {
  margin-top: 2rem;
}

.mensajeRegister {
  font-size: 2rem;
  margin-top: 12rem;
  padding: 5rem;
}

.resultados {
  padding: 5rem;
}

.bienvenida {
  margin-top: 12rem;
  font-size: 4rem;
}

.bienvenidaSecond {
  font-size: 3rem;
}

.resultTitulo {
  margin-top: 2rem;
  font-size: 3rem;
}

.parrafosResults {
  font-size: 2rem;
}

.seccionesResults, .agregarTarea {
  margin: 1rem;
  border: black solid 0.1rem;
  padding: 1rem;
}

.tituloAgregar {
  font-size: 3rem;
}

@media (min-width: 280px) {
  .hero {
    padding: 0;
    margin-top: 12rem;
    text-align: center;
    font-size: 6rem;
  }

  .info {
    padding: 0.5rem;
  }

  .info h2 {
    font-size: 3rem;
  }

  .info p {
    padding: 0;
    font-size: 1.75rem;
  }

  .tipsi {
    padding: 0;
  }

  .tipsi p {
    padding: 0;
  }

  .registerForm, .loginForm {
    text-align: unset;
    padding: 0.5rem;
  }

  .loginForm {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  footer {
    font-size: 5rem;
  }

  .bienvenida {
    font-size: 3rem;
    padding: 0;
  }

  .seccionesResults, .agregarTarea {
    margin: 1rem;
  }
}
@media (min-width: 360px) {
  .hero {
    padding: 5rem;
  }

  .info, .tipsi {
    padding: 2.5rem;
  }

  .registerForm, .loginForm {
    margin: 5rem;
  }
}
@media (min-width: 768px) {
  .hero {
    padding: 18rem;
    margin-top: 6.7rem;
    text-align: center;
    font-size: 10rem;
  }

  .info {
    padding: 2rem;
    text-align: center;
  }

  .info h2 {
    font-size: 5rem;
  }

  .info p {
    padding: 5rem;
    font-size: 2rem;
  }

  .tipsi {
    padding: 2rem;
    text-align: center;
    margin-bottom: 5rem;
  }

  .tipsi p {
    padding: 2rem;
  }

  .registerForm, .loginForm {
    text-align: center;
    margin: 50 auto;
    width: 50rem;
  }

  .loginForm {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  footer {
    font-size: 6rem;
  }
}
@media (min-width: 1280px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  .navbar {
    background: #8d406d;
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
  }

  .navbar h1 {
    color: white;
    font-weight: 600;
    font-size: 3.5rem;
    padding: 1rem;
    padding-left: 2rem;
  }

  .navbar a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background: linear-gradient(currentColor 0 0) 0 100%/var(--d, 0) 0.3rem no-repeat;
    transition: 0.5s;
  }

  .navbar a:hover {
    --d: 100%;
  }

  .itemsMenu {
    display: flex;
    list-style: none;
    margin-right: 3rem;
  }

  .itemsMenu li {
    display: block;
    text-transform: uppercase;
  }

  #menuBTN {
    margin-right: 3rem;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
    width: 5rem;
    height: 5rem;
  }

  ul.show {
    top: 6.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 768px) {
  #menuBTN {
    display: inline-flex;
  }

  .itemsMenu {
    position: fixed;
    width: 100vh;
    height: calc(100% - 6.5rem);
    background: #8d406d;
    top: -100vh;
    text-align: center;
    transition: all -4s;
    flex-direction: column;
    margin-top: 0;
    background: white;
  }

  .itemsMenu a {
    color: black;
    font-weight: bold;
    line-height: 5rem;
    margin-right: 7.5rem;
    margin-top: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .Top {
    background: url(/assets/img/hero.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (min-width: 1280px) {
  .hero {
    color: white;
    margin-top: 6.7rem;
    padding: 20rem;
    font-size: 10rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
@media (min-width: 1280px) {
  .info {
    padding: 2rem;
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .info h2 {
    font-size: 5rem;
  }
}
@media (min-width: 1280px) {
  .info p {
    padding-top: 3rem;
    padding-right: 25rem;
    padding-left: 25rem;
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .tipsi {
    padding: 2rem;
    text-align: center;
    margin-bottom: 5rem;
  }
}
@media (min-width: 1280px) {
  .tipsi h2 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1280px) {
  .tipsi p {
    padding-top: 3rem;
    padding-right: 25rem;
    padding-left: 25rem;
  }
}
@media (min-width: 1280px) {
  .tipsi p,
.tipsi a {
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .tipsi a {
    text-decoration: none;
    color: black;
    background: linear-gradient(currentColor 0 0) 0 100%/var(--d, 0) 0.3rem no-repeat;
    transition: 0.5s;
  }
}
@media (min-width: 1280px) {
  .tipsi a:hover {
    --d: 100%;
  }
}
@media (min-width: 1280px) {
  .registerForm, .loginForm {
    text-align: center;
    margin: 0 auto;
    width: 50rem;
  }
}
@media (min-width: 1280px) {
  .loginForm {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
@media (min-width: 1280px) {
  .registerForm h2, .loginForm h2 {
    font-size: 4rem;
  }
}
@media (min-width: 1280px) {
  form {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  form input {
    width: 30rem;
    height: 3.5rem;
  }
}
@media (min-width: 1280px) {
  footer {
    width: 100%;
    background: #8d406d;
    font-size: 6rem;
    text-align: center;
    color: white;
    padding: 2rem;
  }
}
@media (min-width: 1280px) {
  .mainTips {
    margin-top: 15rem;
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .mainTips h2 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1280px) {
  .mainTips p {
    padding: 1rem;
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .Tips {
    padding: 2rem;
  }
}
@media (min-width: 1280px) {
  .Tips h2 {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  .Tips p {
    font-size: 1.5rem;
  }
}
@media (min-width: 1280px) {
  iframe {
    margin-top: 2rem;
  }
}
@media (min-width: 1280px) {
  .resultados {
    padding: 5rem;
  }
}
@media (min-width: 1280px) {
  .bienvenida {
    margin-top: 12rem;
    font-size: 4rem;
  }
}
@media (min-width: 1280px) {
  .bienvenidaSecond {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  .resultTitulo {
    margin-top: 2rem;
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  .parrafosResults {
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .seccionesResults, .agregarTarea {
    margin: 1rem;
    border: black solid 0.1rem;
    padding: 1rem;
  }
}
@media (min-width: 1280px) {
  .tituloAgregar {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
