@media (min-width: 360px) {
    //Responsive Index
    .hero {
        padding: 5rem;
    }

    .info, .tipsi {
        padding: 2.5rem;
    }

    .registerForm, .loginForm {
        margin: 5rem;
    }
}